{include file="common/header"}
<div class="video-responsive video-responsive-4-3">
  <iframe height=498 width=510 src='http://mudu.tv/?a=index&c=show&id=84611&type=mobile' frameborder=0 'allowfullscreen'></iframe>
 
</div>
<div class="columns">
  <div class="column col-3 col-md-6">
    <figure class="figure">
      <img src="__STATIC__/spectre-0.4.5/img/osx-yosemite-2.jpg" class="img-fit-contain rounded" alt="macOS Yosemite Wallpaper" style="background: #f8f9fa; width: 100%;">
      <figcaption class="figure-caption text-center">XXX风采</figcaption>
    </figure>
  </div>
  <div class="column col-3 col-md-6">
    <figure class="figure">
      <img src="__STATIC__/spectre-0.4.5/img/osx-yosemite-2.jpg" class="img-fit-contain" alt="macOS Yosemite Wallpaper" style="background: #f8f9fa; width: 100%;">
     <figcaption class="figure-caption text-center">XXX风采</figcaption>
    </figure>
  </div>
  <div class="column col-3 col-md-6">
    <figure class="figure">
      <img src="__STATIC__/spectre-0.4.5/img/osx-yosemite-2.jpg" class="img-fit-contain" alt="macOS Yosemite Wallpaper" style="background: #f8f9fa; width: 100%;">
     <figcaption class="figure-caption text-center">XXX风采</figcaption>
    </figure>
  </div>
  <div class="column col-3 col-md-6">
    <figure class="figure">
      <img src="__STATIC__/spectre-0.4.5/img/osx-yosemite-2.jpg" class="img-fit-contain" alt="macOS Yosemite Wallpaper" style="background: #f8f9fa; width: 100%;">
     <figcaption class="figure-caption text-center">XXX风采</figcaption>
    </figure>
  </div>
  <div class="column col-3 col-md-6">
    <figure class="figure">
      <img src="__STATIC__/spectre-0.4.5/img/osx-yosemite-2.jpg" class="img-fit-contain" alt="macOS Yosemite Wallpaper" style="background: #f8f9fa; width: 100%;">
     <figcaption class="figure-caption text-center">XXX风采</figcaption>
    </figure>
  </div>
</div>
{include file="common/footer"}