<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="https://github.com/picturepan2/">
  <title>SUST sports game</title>
  <link rel="stylesheet" href="__STATIC__/spectre-0.4.5/css/spectre.css">
  <link rel="stylesheet" href="__STATIC__/spectre-0.4.5/css/spectre-icons.css">
  <link rel="stylesheet" href="__STATIC__/spectre-0.4.5/css/spectre-exp.css">
  <link rel="stylesheet" href="__STATIC__/spectre-0.4.5/css/docs.css">
</head>
<body>
  <div class="docs-container off-canvas">
    <div class="docs-navbar">
      <a class="off-canvas-toggle btn btn-link btn-action" href="#match">
        <i class="icon icon-menu icon-2x"></i>
      </a>
    </div>
    <div id="match" class="docs-sidebar off-canvas-sidebar">
      <div class="docs-brand">
        <a href="index.html" class="docs-logo">
          <img src="__STATIC__/spectre-0.4.5/img/spectre-logo.png" alt="Spectre.css CSS Framework">
          <h2>SUST sports</h2>
        </a>
      </div>
      <div class="docs-nav">
        <div class="accordion-container">
          <div class="accordion">
            <input type="checkbox" id="docs-accordion-1" name="docs-accordion-checkbox" hidden checked>
            <label class="accordion-header c-hand" for="docs-accordion-1">
              田径
            </label>
            <div class="accordion-body">
              <ul class="menu menu-nav">
                <li class="menu-item">
                  <a href="{:url('index')}">2018校运会</a>
                </li>
                <li class="menu-item">
                  <a href="">2018电信学院</a>
                </li>
                <li class="menu-item">
                  <a href="">2018机电学院</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="accordion">
            <input type="checkbox" id="docs-accordion-2" name="docs-accordion-checkbox" hidden >
            <label class="accordion-header c-hand" for="docs-accordion-2">
              足球
            </label>
            <div class="accordion-body">
              <ul class="menu menu-nav">
                <li class="menu-item">
                  <a href="{:url('index')}">2018科大杯</a>
                </li>
                <li class="menu-item">
                  <a href="">2018电信学院</a>
                </li>
                <li class="menu-item">
                  <a href="">2018材料学院</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="off-canvas-overlay" href="#close"></a>
    <div id="content" class="docs-content off-canvas-content">
      <div id="introduction" class="container">
        <h3 class="s-title">最新赛事</h3>
      </div>
      <div class="timeline">
        <div class="timeline-item" id="timeline-example-1">
          <div class="timeline-left">
            <a class="timeline-icon" href="#timeline-example-1"></a>
          </div>
          <div class="timeline-content">
              <div class="card">
                  <div class="card-header">
                    <a class="btn  float-right" href="{:url('index')}">进入</a>
                    <div class="card-title h5">2018陕西科技大学</div>
                    <div class="card-title h5">春季运动会</div>
                    <div class="card-subtitle text-gray">正在进行</div>
                  </div>
                  <div class="card-image">
                    <img src="__STATIC__/spectre-0.4.5/img/osx-el-capitan.jpg" class="img-responsive">
                  </div>
                  <div class="card-body">
                    本届运动会共设68个竞赛项目，其中团体项目16项
                  </div>
              </div>
          </div>
        </div>
        <div class="timeline-item" id="timeline-example-2">
          <div class="timeline-left">
            <a class="timeline-icon icon-lg" href="#timeline-example-2">
              <i class="icon icon-check"></i>
            </a>
          </div>
          <div class="timeline-content">
                <div class="card mt-2">
                  <div class="card-header">
                    <button class="btn  float-right disabled">进入</button>
                    <div class="card-title h5">2018年电信学院</div>
                    <div class="card-title h5">春季运动会</div>
                    <div class="card-subtitle text-gray">已结束</div>
                  </div>
                  <div class="card-image">
                    <img src="__STATIC__/spectre-0.4.5/img/osx-el-capitan.jpg" class="img-responsive">
                  </div>
            
                  <div class="card-body">
                    本届运动会共设68个竞赛项目，其中团体项目16项
                  </div>
                </div>
           </div>
        </div>
        <div class="timeline-item" id="timeline-example-2">
          <div class="timeline-left">
            <a class="timeline-icon icon-lg" href="#timeline-example-2">
              <i class="icon icon-check"></i>
            </a>
          </div>
          <div class="timeline-content">
                <div class="card mt-2">
                  <div class="card-header">
                    <button class="btn  float-right disabled">进入</button>
                    <div class="card-title h5">2018年科大杯</div>
                    <div class="card-title h5">足球赛</div>
                    <div class="card-subtitle text-gray">已结束</div>
                  </div>
                  <div class="card-image">
                    <img src="__STATIC__/spectre-0.4.5/img/osx-el-capitan.jpg" class="img-responsive">
                  </div>
            
                  <div class="card-body">
                    本届运动会共设68个竞赛项目，其中团体项目16项
                  </div>
                </div>
           </div>
        </div>
      </div>
{include file="common/footer"}