{include file="common/header"}
<div class="accordion">
  <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
  <label class="accordion-header c-hand" for="accordion-1">
    <i class="icon icon-arrow-right mr-1"></i>按类别查看
  </label>
  <div class="accordion-body">
    <ul class="menu menu-nav">
      <li class="menu-item">
        <div class="columns">
          <div class="column col-12">
            <div class="filter">
              <input type="radio" id="tag-0" class="filter-tag" name="filter-radio" hidden checked>
              <input type="radio" id="tag-1" class="filter-tag" name="filter-radio" hidden>
              <input type="radio" id="tag-2" class="filter-tag" name="filter-radio" hidden>
              <input type="radio" id="tag-3" class="filter-tag" name="filter-radio" hidden>
              <input type="radio" id="tag-4" class="filter-tag" name="filter-radio" hidden>

              <div class="filter-nav">
                <label class="chip" for="tag-0">所有</label>
                <label class="chip" for="tag-1">田赛</label>
                <label class="chip" for="tag-2">径赛</label>
                <label class="chip" for="tag-3">游戏</label>
                <label class="chip" for="tag-4">...</label>
              </div>
              <div class="filter-body columns">
                <div class="column col-6 filter-item" data-tag="tag-2">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">赛程1</div>
                      <div class="card-subtitle">决赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-3">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-1">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">赛程1</div>
                      <div class="card-subtitle">决赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-4">
                  <div class="card">
                    <div class="card-header">
                       <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-2">
                  <div class="card">
                    <div class="card-header">
                       <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-4">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-3">
                  <div class="card">
                    <div class="card-header">
                       <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-1">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  </div>
  <div class="accordion">
  <input type="checkbox" id="accordion-2" name="accordion-checkbox" hidden checked>
  <label class="accordion-header c-hand" for="accordion-2">
    <i class="icon icon-arrow-right mr-1"></i>按时间查看
  </label>
  <div class="accordion-body">
    <ul class="menu menu-nav">
      <li class="menu-item">
        <div class="columns">
          <div class="column col-12">
            <div class="filter">
              <input type="radio" id="tag-5" class="filter-tag" name="filter-radio" hidden >
              <input type="radio" id="tag-6" class="filter-tag" name="filter-radio" hidden>
              <input type="radio" id="tag-7" class="filter-tag" name="filter-radio" hidden>
              <input type="radio" id="tag-8" class="filter-tag" name="filter-radio" hidden>
              <input type="radio" id="tag-9" class="filter-tag" name="filter-radio" hidden checked>

              <div class="filter-nav">
                <label class="chip" for="tag-9">所有</label>
                <label class="chip" for="tag-5">2nd.pm</label>
                
                <label class="chip" for="tag-6">1st.am</label>
                <label class="chip" for="tag-7">1st.pm</label>
                <label class="chip" for="tag-8">2nd.am</label>
                
              </div>
              <div class="filter-body columns">
                <div class="column col-6 filter-item" data-tag="tag-6">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">赛程1</div>
                      <div class="card-subtitle">决赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-6">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-7">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">赛程1</div>
                      <div class="card-subtitle">决赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-8">
                  <div class="card">
                    <div class="card-header">
                       <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-9">
                  <div class="card">
                    <div class="card-header">
                       <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-8">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-6">
                  <div class="card">
                    <div class="card-header">
                       <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
                <div class="column col-6 filter-item" data-tag="tag-7">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">赛程2</div>
                      <div class="card-subtitle">预赛</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{include file="common/footer"}